.logo{
    padding-left: 30px;
    padding-top: 17px;
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
  
    z-index: 9999;
  }
  
  .container {
    
    justify-content: center; 
  
    
    
  }
  
  .container select,
  .container input[type="text"],
  .container input[type="button"] {
    /* padding: 10px; */
    border: 1px solid white;
    font-size: 16px;
    background-color:grey;
    border-radius: 9.5px;
    padding: 6px 20px;
    margin-top: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
   
  }
  
  .container select {
    /* min-width: 130px; */
    background-color: grey;
    border-radius: 9.5px;
    padding: 6px 20px;
    margin-top: 15px;
    /* border-color: white; */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  
  }
  
  /* .container input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    height: 100px; 
  } */
  
  input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    
  }
  
  .btn {
    background-color: grey;
    color: #fff;
    padding: 6px 20px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    /* margin-right: -0.0px; */
    margin-top: 15px;
  /* margin-right: -1px; */
  margin-right: 30px;
  
   
  }
  
  
  .btn:hover {
  background-color: white;
  color: #000000;
  }

  button, input, optgroup, select, textarea{
    padding: 3.7px 80px;
    margin-top: 15px;
  }  



  .custom-container{
    margin-top: 5cm;
}

h1{
    font-size: 25px;
}




  

  footer {
    text-align: center;
    background-color: #f2f2f2;
    padding: 40px;
    margin-top:50px;
    }

    .social-icons a {
    display: inline-block;
    margin: 0 8px;
    color: #333;
    font-size: 17px;
    margin-bottom: 5px;
    }
    
    .social-icons a:hover {
    color: #00aced; /* Change to the desired hover color */
    }
    
    
    footer p{
    color: #333;
    font-size: 13px;
    margin-top: 15px;
    font-family: roboto;
    }