<html>
  <body style="padding-top: 0px;">
 

  
 <!-- <nav [ngClass]="{'navbar': true, 'navbar-expand-sm': true, 'navbar-white': isNavbarWhite}">
  <div class="logo">
    <img src="../../assets/logo.png" width="70" height="90">
  </div>
  
  <div class="container">
    <select [(ngModel)]="selectedOption" (ngModelChange)="onSelectedOptionChange()">
      <option value="name">Name</option>
      <option value="date">Date</option>
    </select>
    <input [(ngModel)]="searchValue" [placeholder]="searchPlaceholder" (keyup.enter)="search()" />
    <input type="button" name="search" id="search" value="Search" (click)="search()">
  </div>
    
  <a class="btn btn-primary" (click)="redirectToHomePage()">Logout</a>

</nav> -->

 

<nav [ngClass]="{'navbar': true, 'navbar-expand-sm': true, 'navbar-white': isNavbarWhite}">
  <div class="logo">
    <img src="../../assets/logo.png" width="70" height="90">
  </div>
  
  <div class="container">
    <select [(ngModel)]="selectedOption" (ngModelChange)="onSelectedOptionChange()">
      <option value="name">Name</option>
      <option value="date">Date</option>
    </select>
    <input [(ngModel)]="searchValue" [placeholder]="searchPlaceholder" (keyup.enter)="search()" />
    <input type="button" name="search" id="search" value="Search" (click)="search()" />
    
    
    <div class="welcome-message">
      <span> Welcome {{ username }}</span>
     
    </div>
  </div>
  
  <a class="btn btn-primary" (click)="redirectToHomePage()">Logout</a>
</nav>









  <!-- Carousel -->
  <div class="carousel-container">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/image9.jpg" class="d-block w-100" alt="Avatar: The Way of Water" width="100" height="100">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Avatar: The Way of Water</h5>
                    <p>Set more than a decade after the events of the first film, learn the story of the Sully family (Jake, Neytiri, and their kids), the trouble that follows them, the lengths they go to keep each other safe, the battles they fight to stay alive, and the tragedies they endure.</p>
            </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/image1.jpg" class="d-block w-100" alt="..." width="100" height="100">      
                <div class="carousel-caption d-none d-md-block">
                  <h5>John Wick: Chapter 4</h5>
                  <p>With the price on his head ever increasing, John Wick uncovers a path to defeating The High Table. But before he can earn his freedom, Wick must face off against a new enemy with powerful alliances across the globe and forces that turn old friends into foes.</p>
              </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/w.jpg" class="d-block w-100" alt="..." width="100" height="100">
               <div class="carousel-caption d-none d-md-block">
                    <h5>Brave</h5>
                    <p>Merida , the impetuous but courageous daughter of Scottish King Fergus  and Queen Elinor, is a skilled archer who wants to carve out her own path in life. Her defiance of an age-old tradition angers the Highland lords and leads to chaos in the kingdom.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/image2.jpg" class="d-block w-100" alt="..." width="100" height="100">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Spider-Man: Into the Spider-Verse</h5>
                  <p>Miles Morales is juggling his life between being a high school student and being a spider-man. When Wilson "Kingpin" Fisk uses a super collider, others from across the Spider-Verse are transported to this dimension.</p>
              </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/image4.jpg" class="d-block w-100" alt="..." width="100" height="100">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Guardians of the Galaxy Vol. 3</h5>
                  <p>Peter Quill, still reeling from the loss of Gamora, must rally his team around him to defend the universe along with protecting one of their own. A mission that, if not completed successfully, could quite possibly lead to the end of the Guardians as we know them.</p>
              </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/image5.jpg" class="d-block w-100" alt="..." width="100" height="100">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Ant-Man and the Wasp: Quantumania</h5>
                  <p>Super-Hero partners Scott Lang and Hope van Dyne, along with Hope's parents Janet van Dyne and Hank Pym, and Scott's daughter Cassie Lang, find themselves exploring the Quantum Realm, interacting with strange new creatures and embarking on an adventure that will push them beyond the limits of what they thought possible.</p>
              </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/image6.jpg" class="d-block w-100" alt="..." width="100" height="100">
                <div class="carousel-caption d-none d-md-block">
                  <h5>The Super Mario Bros. Movie</h5>
                    <p>While working underground to fix a water main, Brooklyn plumbers—and brothers—Mario and Luigi are transported down a mysterious pipe and wander into a magical new world. But when the brothers are separated, Mario embarks on an epic quest to find Luigi.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/image7.jpg" class="d-block w-100" alt="..." width="100" height="100">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Frozen</h5>
                  <p>Anna sets out on a journey with an iceman, Kristoff, and his reindeer, Sven, in order to find her sister, Elsa, who has the power to convert any object or person into ice.</p>
              </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/t.jpg" class="d-block w-100" alt="..." width="100" height="100">
                
                <div class="carousel-caption d-none d-md-block">
                  <h5>Tangled</h5>
                  <p>Rapunzel, a naive and young girl, is locked up by her overly protective mother. Her wish to escape into the world outside finally comes true when she meets the good-hearted thief, Flynn.</p>
              </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
  </div>













 


  <div class="slider-container">
    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <h6 class="genre-heading">Recommended</h6>
        <div class="carousel-item" *ngFor="let movieGroup of actionmovieGroups; let i = index" [class.active]="i === 0">
          <div class="card-wrapper container-sm d-flex justify-content-around">
            <div class="card" *ngFor="let movie of movieGroup">
              <img [src]="movie.image" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">{{ movie.title }}</h6>
                <div class="rating">
                  <span class="rating-value">{{ movie.rating }}</span>
                  <span class="fa fa-star checked"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="arrow-icon"><i class="fa fa-angle-double-left"></i></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="arrow-icons"><i class="fa fa-angle-double-right"></i></span>
      </button>
    </div>
  </div>









 <div class="slider-container">
  <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="false">
    <div class="carousel-inner">
      <h6 class="genre-heading">Action</h6>
      <div class="carousel-item" *ngFor="let movieGroup of actionmovieGroups; let i = index" [class.active]="i === 0">
        <div class="card-wrapper container-sm d-flex justify-content-around">
          <div class="card" *ngFor="let movie of movieGroup">
            <img [src]="movie.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">{{ movie.title }}</h6>
              <div class="rating">
                <span class="rating-value">{{ movie.rating }}</span>
                <span class="fa fa-star checked"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="arrow-icon"><i class="fa fa-angle-double-left"></i></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="arrow-icons"><i class="fa fa-angle-double-right"></i></span>
    </button>
  </div>
</div>






<div class="slider-container">
  <div id="carouselExampleControls1" class="carousel carousel-dark slide" data-bs-ride="false">
    <div class="carousel-inner">
      <h6 class="genre-heading">Comedy</h6>
      <div class="carousel-item" *ngFor="let movieGroup of comedymovieGroups; let i = index" [class.active]="i === 0">
        <div class="card-wrapper container-sm d-flex justify-content-around">
          <div class="card" *ngFor="let movie of movieGroup">
            <img [src]="movie.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">{{ movie.title }}</h6>
              <div class="rating">
                <span class="rating-value">{{ movie.rating }}</span>
                <span class="fa fa-star checked"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="arrow-icon"><i class="fa fa-angle-double-left"></i></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="arrow-icons"><i class="fa fa-angle-double-right"></i></span>
    </button>
  </div>
</div>








<div class="slider-container">
  <div id="carouselExampleControls2" class="carousel carousel-dark slide" data-bs-ride="false">
    <div class="carousel-inner">
      <h6 class="genre-heading">Horror</h6>
      <div class="carousel-item" *ngFor="let movieGroup of horrormovieGroups; let i = index" [class.active]="i === 0">
        <div class="card-wrapper container-sm d-flex justify-content-around">
          <div class="card" *ngFor="let movie of movieGroup">
            <img [src]="movie.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">{{ movie.title }}</h6>
              <div class="rating">
                <span class="rating-value">{{ movie.rating }}</span>
                <span class="fa fa-star checked"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="arrow-icon"><i class="fa fa-angle-double-left"></i></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="arrow-icons"><i class="fa fa-angle-double-right"></i></span>
    </button>
  </div>
</div>







<div class="slider-container">
  <div id="carouselExampleControls3" class="carousel carousel-dark slide" data-bs-ride="false">
    <div class="carousel-inner">
      <h6 class="genre-heading">Science Fiction</h6>
      <div class="carousel-item" *ngFor="let movieGroup of scifimovieGroups; let i = index" [class.active]="i === 0">
        <div class="card-wrapper container-sm d-flex justify-content-around">
          <div class="card" *ngFor="let movie of movieGroup">
            <img [src]="movie.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">{{ movie.title }}</h6>
              <div class="rating">
                <span class="rating-value">{{ movie.rating }}</span>
                <span class="fa fa-star checked"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="arrow-icon"><i class="fa fa-angle-double-left"></i></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="arrow-icons"><i class="fa fa-angle-double-right"></i></span>
    </button>
  </div>
</div>




<div class="slider-container">
  <div id="carouselExampleControls4" class="carousel carousel-dark slide" data-bs-ride="false">
    <div class="carousel-inner">
      <h6 class="genre-heading">Romance</h6>
      <div class="carousel-item" *ngFor="let movieGroup of romancemovieGroups; let i = index" [class.active]="i === 0">
        <div class="card-wrapper container-sm d-flex justify-content-around">
          <div class="card" *ngFor="let movie of movieGroup">
            <img [src]="movie.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">{{ movie.title }}</h6>
              <div class="rating">
                <span class="rating-value">{{ movie.rating }}</span>
                <span class="fa fa-star checked"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls4" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="arrow-icon"><i class="fa fa-angle-double-left"></i></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls4" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="arrow-icons"><i class="fa fa-angle-double-right"></i></span>
    </button>
  </div>
</div>



<div class="slider-container">
  <div id="carouselExampleControls5" class="carousel carousel-dark slide" data-bs-ride="false">
    <div class="carousel-inner">
      <h6 class="genre-heading">Fantacy</h6>
      <div class="carousel-item" *ngFor="let movieGroup of fantacymovieGroups; let i = index" [class.active]="i === 0">
        <div class="card-wrapper container-sm d-flex justify-content-around">
          <div class="card" *ngFor="let movie of movieGroup">
            <img [src]="movie.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">{{ movie.title }}</h6>
              <div class="rating">
                <span class="rating-value">{{ movie.rating }}</span>
                <span class="fa fa-star checked"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls5" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="arrow-icon"><i class="fa fa-angle-double-left"></i></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls5" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="arrow-icons"><i class="fa fa-angle-double-right"></i></span>
    </button>
  </div>
</div>

  
  


<div class="slider-container">
  <div id="carouselExampleControls6" class="carousel carousel-dark slide" data-bs-ride="false">
    <div class="carousel-inner">
      <h6 class="genre-heading">Animation</h6>
      <div class="carousel-item" *ngFor="let movieGroup of animationmovieGroups; let i = index" [class.active]="i === 0">
        <div class="card-wrapper container-sm d-flex justify-content-around">
          <div class="card" *ngFor="let movie of movieGroup">
            <img [src]="movie.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">{{ movie.title }}</h6>
              <div class="rating">
                <span class="rating-value">{{ movie.rating }}</span>
                <span class="fa fa-star checked"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls6" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="arrow-icon"><i class="fa fa-angle-double-left"></i></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls6" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="arrow-icons"><i class="fa fa-angle-double-right"></i></span>
    </button>
  </div>
</div>



<div class="slider-container">
  <div id="carouselExampleControls7" class="carousel carousel-dark slide" data-bs-ride="false">
    <div class="carousel-inner">
      <h6 class="genre-heading">Thriller</h6>
      <div class="carousel-item" *ngFor="let movieGroup of thrillermovieGroups; let i = index" [class.active]="i === 0">
        <div class="card-wrapper container-sm d-flex justify-content-around">
          <div class="card" *ngFor="let movie of movieGroup">
            <img [src]="movie.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">{{ movie.title }}</h6>
              <div class="rating">
                <span class="rating-value">{{ movie.rating }}</span>
                <span class="fa fa-star checked"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls7" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="arrow-icon"><i class="fa fa-angle-double-left"></i></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls7" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="arrow-icons"><i class="fa fa-angle-double-right"></i></span>
    </button>
  </div>
</div>











<footer>

  <div class="policy">
    <ng-container *ngFor="let policy of policies; let last = last">
      <div class="policy-item">{{ policy }}</div>
      <span *ngIf="!last" class="policy-separator">|</span>
    </ng-container>
  </div>
  
  





  <div class="social-icons">
    <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <p>Copyright© 2023. All rights Reserved.</p>
</footer>

  







<script>
  $(document).ready(function() {
    // Switch placeholder text based on dropdown selection
    $('#search-by-date').on('click', function(event) {
      event.preventDefault();
      $('.search-input').attr('placeholder', 'Search movie by Date');
      $('#dropdownMenuButton').text('Date');
    });

    $('#search-by-name').on('click', function(event) {
      event.preventDefault();
      $('.search-input').attr('placeholder', 'Search movie by Name');
      $('#dropdownMenuButton').text('Name');
    });
  });
</script>




</body>
</html>
