.movie-container {
  position: relative;
  overflow: hidden;
  width: 100%;
    height: 100vh;
}

.poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://th.bing.com/th/id/R.e8ca72d7f73397d82f16775345046cac?rik=TaEYEeA3mEJXSg&riu=http%3a%2f%2fimages4.fanpop.com%2fimage%2fphotos%2f18000000%2fTangled-tangled-18015052-1600-1200.jpg&ehk=s%2b3XG9wieGug8sHkEhkFy0hqKsJS3RULjy4ODub3a24%3d&risl=&pid=ImgRaw&r=0'); /* Replace with the actual path to your movie poster */
 
  background-size: cover;
  z-index: 1;


} 

.details {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.797) 0%, rgba(0, 0, 0, 0.377) 100%);
  color: white;
  padding: 40px;
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  
}
.details h1,
  .details p,
  .details div p {
    font-weight: bold;
  }
.details h1 {
  margin: 0;
  font-size: 32px;
  margin-bottom: 20px;
 
}

.details p {
  margin-bottom: 15px;
  font-size: 18px;
 
}

.movie-container:hover .details {
  width: 100%;
  height: 800px;
 
}


.star {
  color: yellow;
  font-size: 24px;
  margin-right: 8px;
}


.button-container {
display: flex;
align-items: center;
gap: 20px;
margin-top: 20px;
}

.add-rating-button {
font-size: 16px;
background-color: rgba(8, 8, 8, 0.466);
border-radius: 25px;
cursor: pointer;
color: wheat;
padding: 12px 24px;
border: none;
display: flex;
align-items: center;

}

.add-rating-button:hover:hover  {
background-color: rgba(245, 222, 179, 0.192);
}



 .input-box {
    width: 100%;
    height: 125px;
  }
  h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .submit-button {
    float: left;
  }
  @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.starrating > input {display: none;}  

.starrating > label:before { 
  content: "\f005";
  margin: 2px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #222222;
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } 

.starrating > input:hover ~ label
{ color: #ffca08 ;  } 
 

h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.user-reviews {
  margin-top: 20px;
}

.user-review {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
}

.user-review h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.user-review p {
  font-size: 14px;
  margin-bottom: 0;
}
