


body {
  margin: 0;
  padding: 0;
  
background-color:black;
  
 
}


.logo{
  padding-left: 30px;
  padding-top: 17px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;

  z-index: 9999;
}

.container {
  
  justify-content: center; 

  
  
}

.container select,
.container input[type="text"],
.container input[type="button"] {
  /* padding: 10px; */
  border: 1px solid white;
  font-size: 16px;
  background-color:grey;
  border-radius: 9.5px;
  padding: 6px 20px;
  margin-top: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
 
}

.container select {
  /* min-width: 130px; */
  background-color: grey;
  border-radius: 9.5px;
  padding: 6px 20px;
  margin-top: 15px;
  /* border-color: white; */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}

/* .container input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  height: 100px; 
} */

input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  
}

.btn {
  background-color: grey;
  color: #fff;
  padding: 6px 20px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  /* margin-right: -0.0px; */
  margin-top: 15px;
/* margin-right: -1px; */
margin-right: 30px;

 
}


.btn:hover {
background-color: white;
color: #000000;
}






.carousel-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow:hidden;
  background-color: black;
  transition: transform 0.7s ease;
  z-index: 0;
}

.carousel-container.slide-in {
  transform: translateX(-100%);
}

.carousel-item {
  height: 100vh;
  max-width: 100%;
}

.carousel-item img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block;
  transition: transform 0.6s ease;
}

.carousel-item-next {
  transform: translateX(100%);
}

.carousel-item-prev {
  transform: translateX(-100%);
}

.carousel-item.active {
  transform: translateX(0);
}

.carousel-fade .carousel-item.active {
  opacity: 1;
  
}







h5{
  font-size: 30px;
  font-family: cursive;
  font-weight: bolder;
  padding-bottom: 20px;
}
p{
  font-size: 18px;
  font-weight: 4px;
  font-family: cursive;
  
  
  
}

button, input, optgroup, select, textarea{
  
  



  /* padding: 3.7px 20px; */



  padding: 3.7px 80px;



  margin-top: 15px;
 
  
}

















------------------------------


.slider-container{


/* background-color: #000000; */
/* padding-bottom: 100px; */
/* display: flex; */
margin-bottom: 20px;

height: 6px;

}




.slider-container .card{
margin-right: 15px;
margin-left: 15px;
border-radius: 10px;
height: 290px;
background-color: #000000;
color:white;
border-color: aqua;
margin-top: 100px;


}


.slider-container .carousel-inner{
background-color:black;
/* padding-top: 40px; */
/* margin-bottom: 100px; */
/* padding-bottom: -40px; */
/* margin-bottom: -120px; */
height: 430px;
margin-bottom: 6px;
margin-top: 30px;

}




.card .card-img-top {
width: 200px;
height: 200px;
border-radius:10px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
object-fit: cover;
z-index: 1;

}


.slider-container .card-body{
padding-top:18px;

text-align: center;


}

h6 {
font-size: 15px;

}



/* .slider-container .genre-heading{
color:white;
padding-left: 100px;

padding-top: 90px;

font-size: 30px
} */

.slider-container .genre-heading{

  text-transform: uppercase;
 background-image: linear-gradient(
   -225deg,
   #153957 0%,
   #107081 29%,
   #ff1361 67%,
   #fff800 100%
 );
 background-size: auto auto;
 background-clip: border-box;
 background-size: 200% auto;
 color: white;
 background-clip: text;
 /* text-fill-color: transparent; */
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: textclip 2s linear infinite;
 display: inline-block;
     font-size: 20px;
     padding-left: 110px;
     margin-top: 40px;
    
     
     
}



@keyframes textclip {
 to {
   background-position: 200% center;
 }
}


#carouselExampleControls7{
margin-bottom: 100px;
}

#carouselExampleControls{
margin-top: 80px;
}





.navbar-white {
/* background-color: #f2f2f2; */
/* opacity: 0.7; */
background: linear-gradient(to bottom, #ffffffd2, transparent);
}






.navbar-white .container select {
background-color: black;
color: white;
}
.navbar-white .btn{
background-color: #000000;
}

.navbar-white .container input[type="button"]{
background-color: #000000;
color: white;
}








.arrow-icon {
position: absolute;
left: 0;
margin-left: 50px; /* Adjust this value as needed */


}

.arrow-icons{
position: absolute;
right:0;
margin-right:52px; /* Adjust this value as needed */


}



.slider-container .carousel-control-prev-icon,
.slider-container .carousel-control-next-icon {
display: none;
}




.card-wrapper .card {
/* transition: transform 0.3s ease; */
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-wrapper .card:hover {
transform: scale(1.2);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
cursor: pointer;


}

.card-wrapper .card-img-top {
transition: opacity 0.3s ease;
}

.card-wrapper .card:hover .card-img-top {
opacity: 0.8;
}





.rating {
display: flex;
align-items: center;
padding-left: 57px;


}

.rating-value {
font-weight: bold;
margin-right: 5px;
}

.checked {
color: orange;
font-size: 24px;
}












footer {
text-align: center;
background-color: #f2f2f2;
padding: 40px;
}

.social-icons a {
display: inline-block;
margin: 0 8px;
color: #333;
font-size: 17px;
margin-bottom: 5px;
}

.social-icons a:hover {
color: #00aced; /* Change to the desired hover color */
}


footer p{
color: #333;
font-size: 13px;
margin-top: 15px;
font-family: roboto;
}

.policy {
display: flex;
flex-wrap: wrap;
align-items: center;
padding-bottom: 25px;
font-size: 13px;
margin-left: 120px;
margin-right: 40px;
}

.policy-item {
margin-right: 10px;
}

.policy-separator {
margin: 0 10px;
color: #999;
}
