<body>
 
<div class="form-container border border-light border-2 rounded-4" style="margin-top: 20px;margin-bottom: 20px;">
  <div id="alertContainer"></div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#loginTab">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#signupTab">Sign Up</a>
   
    <button type="button" class="close" aria-label="Close" routerLink="/home">

      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  </ul>

  <div class="tab-content" style="border-color: blue; border-width: 4px;" >
    <div class="tab-pane fade show active" id="loginTab">
      <div class="form-body">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div class="form-group">
            <label for="username">Email</label>
            <input type="text" ngModel class="form-control" id="userName" name="userName" placeholder="Enter email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" ngModel class="form-control" id="userPassword" name="userPassword" placeholder="Enter password" required>
          </div>
          <div class="form-group">
            <a href="#">Forgot password?</a>
          </div>
          <div class="form-group">
            <input type="submit" [disabled]="!loginForm.valid || isSubmitting" value="Login" class="btn btn-outline-primary form-control">
          </div>
        </form>
      </div>
    </div>
    <div class="tab-pane fade" id="signupTab">
      <div class="form-body">
        <form #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" ngModel class="form-control" id="userFirstName" name="userFirstName" placeholder="Enter first name" required>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" ngModel class="form-control" id="userLastName" name="userLastName" placeholder="Enter last name" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" ngModel class="form-control" id="userName" name="userName" placeholder="Enter email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" ngModel class="form-control" id="userPassword" name="userPassword" placeholder="Enter password" required>
          </div>
          <div class="form-group">
            <input type="submit" [disabled]="!signUpForm.valid || isSubmitting" value="Register" class="btn btn-outline-primary form-control">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body> -->

